&zephyr_udc0 {
	midi_in: midi-in {
		compatible = "usb-midi-input";
	};


	midi_out: midi-out {
		compatible = "usb-midi-output";
	};

	/*
	midi-in2 {
		compatible = "usb-midi-input";
	};

	midi-out2 {
		compatible = "usb-midi-output";
	};

	midi-in3 {
		compatible = "usb-midi-input";
	};

	midi-out3 {
		compatible = "usb-midi-output";
	};

	midi-in4 {
		compatible = "usb-midi-input";
	};

	midi-out4 {
		compatible = "usb-midi-output";
	};
	*/
};
