// MIDI DIN connector
// Tx on PD5 / Rx on PD6
midi_din_uart: &usart2 {
    status = "okay";
    pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
    pinctrl-names = "default";
    current-speed = <31250>;
};

&timers3 {
    status = "okay";
    st,prescaler = <10000>;

    pwm3: pwm {
        status = "okay";
    };
};

&timers4 {
    status = "okay";
    st,prescaler = <10000>;

    pwm4: pwm {
        status = "okay";
    };
};

&pwm1 {
    pinctrl-0 = <
        &tim1_ch1_pe9
        &tim1_ch2_pe11
        &tim1_ch3_pe13
    >;
    pinctrl-names = "default";
};

&pwm3 {
    pinctrl-0 = <&tim3_ch1_pa6>;
    pinctrl-names = "default";
};

&pwm4 {
    pinctrl-0 = <
        &tim4_ch3_pd14
        &tim4_ch4_pd15
    >;
    pinctrl-names = "default";
};

&arduino_i2c {
    encoder1: encoder@72 {
        compatible = "duppa,i2cencoderv21";
        label = "ENCODER1";
        reg = <0x72>;
        interrupt-gpios = <&gpiog 9 GPIO_ACTIVE_LOW>;
    };

    encoder2: encoder@73 {
        compatible = "duppa,i2cencoderv21";
        label = "ENCODER2";
        reg = <0x73>;
        interrupt-gpios = <&gpiog 9 GPIO_ACTIVE_LOW>;
    };
};

// Disable usart6 (to free up D0/D1)
&usart6 {
    status = "disabled";
};

/ {
    touchpad1: touchpad_1 {
        compatible = "kinesta,rgb-touchpad-pwm";
        // PD11
        touch-gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;

        // Red:   PE11 (D5)
        // Green: PE13 (D3)
        // Blue:  PE9 (D6)
        pwm-names = "red", "green", "blue";
        pwms = <&pwm1 2 0 PWM_POLARITY_NORMAL>,
               <&pwm1 3 0 PWM_POLARITY_NORMAL>,
               <&pwm1 1 0 PWM_POLARITY_NORMAL>;
    };

    touchpad2: touchpad_2 {
        compatible = "kinesta,rgb-touchpad-pwm";
        // PE2
        touch-gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;

        // Red:   PA6 (D12)
        // Green: PD14 (D10)
        // Blue:  PD15 (D9)
        pwm-names = "red", "green", "blue";
        pwms = <&pwm3 1 0 PWM_POLARITY_NORMAL>,
               <&pwm4 3 0 PWM_POLARITY_NORMAL>,
               <&pwm4 4 0 PWM_POLARITY_NORMAL>;
    };

    touchpad3: touchpad_3 {
        compatible = "kinesta,rgb-touchpad-gpio";
        // PE7
        r-gpios = <&gpioe 7 GPIO_ACTIVE_HIGH>;
        // PE15
        g-gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
        // PE8
        b-gpios = <&gpioe 8 GPIO_ACTIVE_HIGH>;
        // PB2
        touch-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
    };

    touchpad4: touchpad_4 {
        compatible = "kinesta,rgb-touchpad-gpio";
        // PF15 (D2)
        r-gpios = <&gpiof 15 GPIO_ACTIVE_HIGH>;
        // PF13 (D7)
        g-gpios = <&gpiof 13 GPIO_ACTIVE_HIGH>;
        // PF14
        b-gpios = <&gpiof 14 GPIO_ACTIVE_HIGH>;
        // PF4
        touch-gpios = <&gpiof 4 GPIO_ACTIVE_HIGH>;
    };
};
