# Copyright (c) 2021 Titouan Christophe
# SPDX-License-Identifier: Apache-2.0

config USB_MIDI
	bool "Enable support for USB MIDI function"
	select RING_BUFFER

choice "USB_MIDI_LOG_LEVEL_CHOICE"
	prompt "Max compiled-in log level for USB MIDI function"
	default USB_MIDI_LOG_LEVEL_INF
	depends on LOG

config USB_MIDI_LOG_LEVEL_OFF
	bool "Off"

config USB_MIDI_LOG_LEVEL_ERR
	bool "Error"

config USB_MIDI_LOG_LEVEL_WRN
	bool "Warning"

config USB_MIDI_LOG_LEVEL_INF
	bool "Info"

config USB_MIDI_LOG_LEVEL_DBG
	bool "Debug"

endchoice

config USB_MIDI_LOG_LEVEL
	int
	depends on LOG
	default 0 if USB_MIDI_LOG_LEVEL_OFF
	default 1 if USB_MIDI_LOG_LEVEL_ERR
	default 2 if USB_MIDI_LOG_LEVEL_WRN
	default 3 if USB_MIDI_LOG_LEVEL_INF
	default 4 if USB_MIDI_LOG_LEVEL_DBG